USE [master]
GO
/****** Object:  Database [NoDataPZ]    Script Date: 4/20/2026 10:04:41 PM ******/
CREATE DATABASE [NoDataPZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NoDataPZ', FILENAME = N'D:\Sql Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NoDataPZ.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NoDataPZ_log', FILENAME = N'D:\Sql Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NoDataPZ_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NoDataPZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NoDataPZ]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[ChucVuID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChucVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongThuc_Pizza]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThuc_Pizza](
	[MaHangHoa] [varchar](50) NOT NULL,
	[SizeID] [varchar](5) NOT NULL,
	[NguyenLieuID] [int] NOT NULL,
	[SoLuong] [float] NULL,
	[DonViID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC,
	[SizeID] ASC,
	[NguyenLieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuBan]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuBan](
	[ChiTietBanID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuBan] [varchar](50) NULL,
	[MaHangHoa] [varchar](50) NULL,
	[SizeID] [varchar](5) NULL,
	[MaDeBanh] [varchar](15) NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietBanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuNhap]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuNhap](
	[ChiTietID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapID] [int] NULL,
	[NguyenLieuID] [int] NULL,
	[SoLuong] [decimal](18, 4) NOT NULL,
	[DonViID] [int] NULL,
	[HeSo] [decimal](18, 4) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[HSD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuXuat]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuXuat](
	[ChiTietID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuXuatID] [int] NULL,
	[NguyenLieuID] [int] NULL,
	[SoLuong] [decimal](18, 4) NOT NULL,
	[DonViID] [int] NULL,
	[HeSo] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhMuc_De]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhMuc_De](
	[MaDeBanh] [varchar](15) NOT NULL,
	[TenDeBanh] [nvarchar](100) NULL,
	[LoaiCotBanh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDeBanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhMuc_Size]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhMuc_Size](
	[SizeID] [varchar](5) NOT NULL,
	[TenSize] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[DonViID] [int] IDENTITY(1,1) NOT NULL,
	[TenDonVi] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DonViID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTheo_De]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTheo_De](
	[SizeID] [varchar](5) NOT NULL,
	[MaDeBanh] [varchar](15) NOT NULL,
	[GiaThem] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC,
	[MaDeBanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTheo_Size]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTheo_Size](
	[MaHangHoa] [varchar](50) NOT NULL,
	[SizeID] [varchar](5) NOT NULL,
	[GiaBan] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC,
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHangHoa] [varchar](50) NOT NULL,
	[TenHangHoa] [nvarchar](200) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[DonViID] [int] NULL,
	[LoaiHangHoaID] [varchar](10) NULL,
	[TinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHangHoa]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHangHoa](
	[LoaiHangHoaID] [varchar](10) NOT NULL,
	[TenLoaiHangHoa] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiHangHoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNguyenLieu]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNguyenLieu](
	[LoaiNLID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiNLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[NguyenLieuID] [int] IDENTITY(1,1) NOT NULL,
	[MaNguyenLieu] [varchar](30) NULL,
	[TenNguyenLieu] [nvarchar](200) NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[LoaiNLID] [int] NULL,
	[DonViID] [int] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NguyenLieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieuNhaCungCap]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieuNhaCungCap](
	[NguyenLieuID] [int] NOT NULL,
	[NhaCungCapID] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NguyenLieuID] ASC,
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NhaCungCapID] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[ChucVuID] [int] NULL,
	[TrangThai] [bit] NULL,
	[HinhAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuBanHang]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuBanHang](
	[MaPhieuBan] [varchar](50) NOT NULL,
	[NhanVienBanID] [int] NULL,
	[NgayBan] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[PhuongThucTT] [nvarchar](50) NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[ThanhToan] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[PhieuNhapID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [varchar](30) NULL,
	[NhanVienNhapID] [int] NULL,
	[NhaCungCapID] [int] NULL,
	[NgayNhap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [tinyint] NULL,
	[NhanVienDuyetID] [int] NULL,
	[NgayDuyet] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuNhapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[PhieuXuatID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuXuat] [varchar](30) NULL,
	[NhanVienYeuID] [int] NULL,
	[NhanVienDuyetID] [int] NULL,
	[NgayYeuCau] [datetime] NULL,
	[NgayDuyet] [datetime] NULL,
	[TrangThai] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuXuatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh_Bot]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh_Bot](
	[SizeID] [varchar](5) NOT NULL,
	[LoaiCotBanh] [nvarchar](50) NOT NULL,
	[TrongLuongBot] [float] NULL,
	[DonViID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC,
	[LoaiCotBanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh_Vien]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh_Vien](
	[MaDeBanh] [varchar](15) NOT NULL,
	[SizeID] [varchar](5) NOT NULL,
	[NguyenLieuID] [int] NOT NULL,
	[SoLuongVien] [float] NULL,
	[DonViID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDeBanh] ASC,
	[SizeID] ASC,
	[NguyenLieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDoiDonVi]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDoiDonVi](
	[QuyDoiID] [int] IDENTITY(1,1) NOT NULL,
	[NguyenLieuID] [int] NULL,
	[DonViID] [int] NULL,
	[HeSo] [decimal](18, 4) NOT NULL,
	[LaDonViChuan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuyDoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienID] [int] NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 4/20/2026 10:04:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[TonKhoID] [int] IDENTITY(1,1) NOT NULL,
	[NguyenLieuID] [int] NULL,
	[SoLuongTon] [decimal](18, 4) NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TonKhoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuBanHang] ADD  DEFAULT (N'Tiền mặt') FOR [PhuongThucTT]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT (getdate()) FOR [NgayYeuCau]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[QuyDoiDonVi] ADD  DEFAULT ((0)) FOR [LaDonViChuan]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[CongThuc_Pizza]  WITH CHECK ADD FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
GO
ALTER TABLE [dbo].[CongThuc_Pizza]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[CongThuc_Pizza]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[CongThuc_Pizza]  WITH CHECK ADD  CONSTRAINT [FK_CongThuc_DonVi] FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[CongThuc_Pizza] CHECK CONSTRAINT [FK_CongThuc_DonVi]
GO
ALTER TABLE [dbo].[CT_PhieuBan]  WITH CHECK ADD FOREIGN KEY([MaDeBanh])
REFERENCES [dbo].[DoanhMuc_De] ([MaDeBanh])
GO
ALTER TABLE [dbo].[CT_PhieuBan]  WITH CHECK ADD FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
GO
ALTER TABLE [dbo].[CT_PhieuBan]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[CT_PhieuBan]  WITH CHECK ADD FOREIGN KEY([MaPhieuBan])
REFERENCES [dbo].[PhieuBanHang] ([MaPhieuBan])
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD FOREIGN KEY([PhieuNhapID])
REFERENCES [dbo].[PhieuNhap] ([PhieuNhapID])
GO
ALTER TABLE [dbo].[CT_PhieuXuat]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[CT_PhieuXuat]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[CT_PhieuXuat]  WITH CHECK ADD FOREIGN KEY([PhieuXuatID])
REFERENCES [dbo].[PhieuXuat] ([PhieuXuatID])
GO
ALTER TABLE [dbo].[GiaTheo_De]  WITH CHECK ADD FOREIGN KEY([MaDeBanh])
REFERENCES [dbo].[DoanhMuc_De] ([MaDeBanh])
GO
ALTER TABLE [dbo].[GiaTheo_De]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[GiaTheo_Size]  WITH CHECK ADD FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
GO
ALTER TABLE [dbo].[GiaTheo_Size]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD FOREIGN KEY([LoaiHangHoaID])
REFERENCES [dbo].[LoaiHangHoa] ([LoaiHangHoaID])
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD FOREIGN KEY([LoaiNLID])
REFERENCES [dbo].[LoaiNguyenLieu] ([LoaiNLID])
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_NCC] FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap] CHECK CONSTRAINT [FK_NCC]
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_NL] FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap] CHECK CONSTRAINT [FK_NL]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([ChucVuID])
REFERENCES [dbo].[ChucVu] ([ChucVuID])
GO
ALTER TABLE [dbo].[PhieuBanHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuBan_NhanVien] FOREIGN KEY([NhanVienBanID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuBanHang] CHECK CONSTRAINT [FK_PhieuBan_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NhanVienNhapID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVienDuyet] FOREIGN KEY([NhanVienDuyetID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVienDuyet]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([NhanVienYeuID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([NhanVienDuyetID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[QuyDinh_Bot]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[QuyDinh_Bot]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[QuyDinh_Vien]  WITH CHECK ADD FOREIGN KEY([MaDeBanh])
REFERENCES [dbo].[DoanhMuc_De] ([MaDeBanh])
GO
ALTER TABLE [dbo].[QuyDinh_Vien]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[QuyDinh_Vien]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[QuyDoiDonVi]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[QuyDoiDonVi]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
USE [master]
GO
