USE [master]
GO
/****** Object:  Database [QLNLPZ]    Script Date: 4/17/2026 5:32:18 PM ******/
CREATE DATABASE [QLNLPZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNLPZ', FILENAME = N'D:\Sql Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QLNLPZ.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNLPZ_log', FILENAME = N'D:\Sql Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QLNLPZ_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNLPZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNLPZ]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[ChucVuID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChucVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongThuc_Pizza]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThuc_Pizza](
	[MaHangHoa] [varchar](50) NOT NULL,
	[SizeID] [varchar](5) NOT NULL,
	[NguyenLieuID] [int] NOT NULL,
	[SoLuong] [float] NULL,
	[DonViID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC,
	[SizeID] ASC,
	[NguyenLieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuBan]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuBan](
	[ChiTietBanID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuBan] [varchar](50) NULL,
	[MaHangHoa] [varchar](50) NULL,
	[SizeID] [varchar](5) NULL,
	[MaDeBanh] [varchar](15) NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietBanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuNhap]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuNhap](
	[ChiTietID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapID] [int] NULL,
	[NguyenLieuID] [int] NULL,
	[SoLuong] [decimal](18, 4) NOT NULL,
	[DonViID] [int] NULL,
	[HeSo] [decimal](18, 4) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[HSD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuXuat]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuXuat](
	[ChiTietID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuXuatID] [int] NULL,
	[NguyenLieuID] [int] NULL,
	[SoLuong] [decimal](18, 4) NOT NULL,
	[DonViID] [int] NULL,
	[HeSo] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhMuc_De]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhMuc_De](
	[MaDeBanh] [varchar](15) NOT NULL,
	[TenDeBanh] [nvarchar](100) NULL,
	[LoaiCotBanh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDeBanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhMuc_Size]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhMuc_Size](
	[SizeID] [varchar](5) NOT NULL,
	[TenSize] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[DonViID] [int] IDENTITY(1,1) NOT NULL,
	[TenDonVi] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DonViID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTheo_De]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTheo_De](
	[SizeID] [varchar](5) NOT NULL,
	[MaDeBanh] [varchar](15) NOT NULL,
	[GiaThem] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC,
	[MaDeBanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTheo_Size]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTheo_Size](
	[MaHangHoa] [varchar](50) NOT NULL,
	[SizeID] [varchar](5) NOT NULL,
	[GiaBan] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC,
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHangHoa] [varchar](50) NOT NULL,
	[TenHangHoa] [nvarchar](200) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[DonViID] [int] NULL,
	[LoaiHangHoaID] [varchar](10) NULL,
	[TinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHangHoa]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHangHoa](
	[LoaiHangHoaID] [varchar](10) NOT NULL,
	[TenLoaiHangHoa] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiHangHoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNguyenLieu]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNguyenLieu](
	[LoaiNLID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiNLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[NguyenLieuID] [int] IDENTITY(1,1) NOT NULL,
	[MaNguyenLieu] [varchar](30) NULL,
	[TenNguyenLieu] [nvarchar](200) NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[LoaiNLID] [int] NULL,
	[DonViID] [int] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NguyenLieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieuNhaCungCap]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieuNhaCungCap](
	[NguyenLieuID] [int] NOT NULL,
	[NhaCungCapID] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NguyenLieuID] ASC,
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NhaCungCapID] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[ChucVuID] [int] NULL,
	[TrangThai] [bit] NULL,
	[HinhAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuBanHang]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuBanHang](
	[MaPhieuBan] [varchar](50) NOT NULL,
	[NhanVienBanID] [int] NULL,
	[NgayBan] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[PhuongThucTT] [nvarchar](50) NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[ThanhToan] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[PhieuNhapID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [varchar](30) NULL,
	[NhanVienNhapID] [int] NULL,
	[NhaCungCapID] [int] NULL,
	[NgayNhap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [tinyint] NULL,
	[NhanVienDuyetID] [int] NULL,
	[NgayDuyet] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuNhapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[PhieuXuatID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuXuat] [varchar](30) NULL,
	[NhanVienYeuID] [int] NULL,
	[NhanVienDuyetID] [int] NULL,
	[NgayYeuCau] [datetime] NULL,
	[NgayDuyet] [datetime] NULL,
	[TrangThai] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuXuatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh_Bot]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh_Bot](
	[SizeID] [varchar](5) NOT NULL,
	[LoaiCotBanh] [nvarchar](50) NOT NULL,
	[TrongLuongBot] [float] NULL,
	[DonViID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC,
	[LoaiCotBanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh_Vien]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh_Vien](
	[MaDeBanh] [varchar](15) NOT NULL,
	[SizeID] [varchar](5) NOT NULL,
	[NguyenLieuID] [int] NOT NULL,
	[SoLuongVien] [float] NULL,
	[DonViID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDeBanh] ASC,
	[SizeID] ASC,
	[NguyenLieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDoiDonVi]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDoiDonVi](
	[QuyDoiID] [int] IDENTITY(1,1) NOT NULL,
	[NguyenLieuID] [int] NULL,
	[DonViID] [int] NULL,
	[HeSo] [decimal](18, 4) NOT NULL,
	[LaDonViChuan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuyDoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienID] [int] NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 4/17/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[TonKhoID] [int] IDENTITY(1,1) NOT NULL,
	[NguyenLieuID] [int] NULL,
	[SoLuongTon] [decimal](18, 4) NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TonKhoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([ChucVuID], [TenChucVu]) VALUES (2, N'Quản lý')
INSERT [dbo].[ChucVu] ([ChucVuID], [TenChucVu]) VALUES (3, N'Nhân viên bếp')
INSERT [dbo].[ChucVu] ([ChucVuID], [TenChucVu]) VALUES (4, N'Nhân viên kho')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
INSERT [dbo].[CongThuc_Pizza] ([MaHangHoa], [SizeID], [NguyenLieuID], [SoLuong], [DonViID]) VALUES (N'PZ_BBQ', N'L', 2, 150, 1)
INSERT [dbo].[CongThuc_Pizza] ([MaHangHoa], [SizeID], [NguyenLieuID], [SoLuong], [DonViID]) VALUES (N'PZ_BBQ', N'L', 4, 30, 1)
INSERT [dbo].[CongThuc_Pizza] ([MaHangHoa], [SizeID], [NguyenLieuID], [SoLuong], [DonViID]) VALUES (N'PZ_BBQ', N'L', 12, 30, 1)
GO
SET IDENTITY_INSERT [dbo].[CT_PhieuBan] ON 

INSERT [dbo].[CT_PhieuBan] ([ChiTietBanID], [MaPhieuBan], [MaHangHoa], [SizeID], [MaDeBanh], [SoLuong], [ThanhTien]) VALUES (1, N'PB000001', N'PZ_BBQ', N'L', N'D_DAY', 1, CAST(229000.00 AS Decimal(18, 2)))
INSERT [dbo].[CT_PhieuBan] ([ChiTietBanID], [MaPhieuBan], [MaHangHoa], [SizeID], [MaDeBanh], [SoLuong], [ThanhTien]) VALUES (2, N'PB000001', N'PZ_GOLD', N'L', N'D_VIEN_PM', 1, CAST(269000.00 AS Decimal(18, 2)))
INSERT [dbo].[CT_PhieuBan] ([ChiTietBanID], [MaPhieuBan], [MaHangHoa], [SizeID], [MaDeBanh], [SoLuong], [ThanhTien]) VALUES (3, N'PB000002', N'PZ_SEA', N'L', NULL, 1, CAST(249000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CT_PhieuBan] OFF
GO
SET IDENTITY_INSERT [dbo].[CT_PhieuNhap] ON 

INSERT [dbo].[CT_PhieuNhap] ([ChiTietID], [PhieuNhapID], [NguyenLieuID], [SoLuong], [DonViID], [HeSo], [DonGia], [ThanhTien], [HSD]) VALUES (1, 1, 4, CAST(1.0000 AS Decimal(18, 4)), 2, CAST(1.0000 AS Decimal(18, 4)), CAST(65000.00 AS Decimal(18, 2)), CAST(65000.00 AS Decimal(18, 2)), CAST(N'2026-08-04' AS Date))
INSERT [dbo].[CT_PhieuNhap] ([ChiTietID], [PhieuNhapID], [NguyenLieuID], [SoLuong], [DonViID], [HeSo], [DonGia], [ThanhTien], [HSD]) VALUES (2002, 2003, 2, CAST(3.0000 AS Decimal(18, 4)), 2, CAST(1.0000 AS Decimal(18, 4)), CAST(120000.00 AS Decimal(18, 2)), CAST(360000.00 AS Decimal(18, 2)), CAST(N'2026-09-19' AS Date))
INSERT [dbo].[CT_PhieuNhap] ([ChiTietID], [PhieuNhapID], [NguyenLieuID], [SoLuong], [DonViID], [HeSo], [DonGia], [ThanhTien], [HSD]) VALUES (3002, 3003, 7, CAST(1.0000 AS Decimal(18, 4)), 2, CAST(1.0000 AS Decimal(18, 4)), CAST(250000.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), CAST(N'2026-10-07' AS Date))
SET IDENTITY_INSERT [dbo].[CT_PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[CT_PhieuXuat] ON 

INSERT [dbo].[CT_PhieuXuat] ([ChiTietID], [PhieuXuatID], [NguyenLieuID], [SoLuong], [DonViID], [HeSo]) VALUES (1001, 1001, 4, CAST(1.0000 AS Decimal(18, 4)), 2, CAST(1.0000 AS Decimal(18, 4)))
INSERT [dbo].[CT_PhieuXuat] ([ChiTietID], [PhieuXuatID], [NguyenLieuID], [SoLuong], [DonViID], [HeSo]) VALUES (1003, 1003, 2, CAST(1.0000 AS Decimal(18, 4)), 2, CAST(1.0000 AS Decimal(18, 4)))
INSERT [dbo].[CT_PhieuXuat] ([ChiTietID], [PhieuXuatID], [NguyenLieuID], [SoLuong], [DonViID], [HeSo]) VALUES (1004, 1003, 4, CAST(1.0000 AS Decimal(18, 4)), 2, CAST(1.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[CT_PhieuXuat] OFF
GO
INSERT [dbo].[DoanhMuc_De] ([MaDeBanh], [TenDeBanh], [LoaiCotBanh]) VALUES (N'D_DAY', N'Dày không viền', N'DAY')
INSERT [dbo].[DoanhMuc_De] ([MaDeBanh], [TenDeBanh], [LoaiCotBanh]) VALUES (N'D_MONG', N'Mỏng', N'MONG')
INSERT [dbo].[DoanhMuc_De] ([MaDeBanh], [TenDeBanh], [LoaiCotBanh]) VALUES (N'D_VIEN_PM', N'Dày viền phô mai', N'DAY')
GO
INSERT [dbo].[DoanhMuc_Size] ([SizeID], [TenSize]) VALUES (N'L', N'Size L')
INSERT [dbo].[DoanhMuc_Size] ([SizeID], [TenSize]) VALUES (N'R', N'Size R')
GO
SET IDENTITY_INSERT [dbo].[DonViTinh] ON 

INSERT [dbo].[DonViTinh] ([DonViID], [TenDonVi]) VALUES (1, N'g')
INSERT [dbo].[DonViTinh] ([DonViID], [TenDonVi]) VALUES (2, N'kg')
INSERT [dbo].[DonViTinh] ([DonViID], [TenDonVi]) VALUES (3, N'Bao')
SET IDENTITY_INSERT [dbo].[DonViTinh] OFF
GO
INSERT [dbo].[GiaTheo_De] ([SizeID], [MaDeBanh], [GiaThem]) VALUES (N'L', N'D_VIEN_PM', CAST(40000.00 AS Decimal(18, 2)))
INSERT [dbo].[GiaTheo_De] ([SizeID], [MaDeBanh], [GiaThem]) VALUES (N'L', N'D_VIEN_XX', CAST(40000.00 AS Decimal(18, 2)))
INSERT [dbo].[GiaTheo_De] ([SizeID], [MaDeBanh], [GiaThem]) VALUES (N'R', N'D_VIEN_PM', CAST(20000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[GiaTheo_Size] ([MaHangHoa], [SizeID], [GiaBan]) VALUES (N'PZ_BBQ', N'L', CAST(229000.00 AS Decimal(18, 2)))
INSERT [dbo].[GiaTheo_Size] ([MaHangHoa], [SizeID], [GiaBan]) VALUES (N'PZ_BBQ', N'R', CAST(169000.00 AS Decimal(18, 2)))
INSERT [dbo].[GiaTheo_Size] ([MaHangHoa], [SizeID], [GiaBan]) VALUES (N'PZ_CHEESE', N'L', CAST(199000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[HangHoa] ([MaHangHoa], [TenHangHoa], [HinhAnh], [DonViID], [LoaiHangHoaID], [TinhTrang]) VALUES (N'PZ_BBQ', N'BBQ Pizza', N'/Resources/Images/z4839116510848-75117a8b6a9ce13cadb269d8fc25a96e_20260312133718.webp', 9, N'PZ', 1)
INSERT [dbo].[HangHoa] ([MaHangHoa], [TenHangHoa], [HinhAnh], [DonViID], [LoaiHangHoaID], [TinhTrang]) VALUES (N'PZ_CHEESE', N'Cheese Pizza', N'/Resources/Images/p12_20260312133909.webp', 9, N'PZ', 1)
INSERT [dbo].[HangHoa] ([MaHangHoa], [TenHangHoa], [HinhAnh], [DonViID], [LoaiHangHoaID], [TinhTrang]) VALUES (N'PZ_GOLD', N'Gold Pizza', N'/Resources/Images/download (20)_20260319131252.jpg', 9, N'PZ', 1)
GO
INSERT [dbo].[LoaiHangHoa] ([LoaiHangHoaID], [TenLoaiHangHoa]) VALUES (N'PZ', N'Pizza')
GO
SET IDENTITY_INSERT [dbo].[LoaiNguyenLieu] ON 

INSERT [dbo].[LoaiNguyenLieu] ([LoaiNLID], [TenLoai]) VALUES (1, N'Nguyên liệu khô')
INSERT [dbo].[LoaiNguyenLieu] ([LoaiNLID], [TenLoai]) VALUES (2, N'Thực phẩm đông lạnh')
INSERT [dbo].[LoaiNguyenLieu] ([LoaiNLID], [TenLoai]) VALUES (3, N'Gia vị')
SET IDENTITY_INSERT [dbo].[LoaiNguyenLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([NguyenLieuID], [MaNguyenLieu], [TenNguyenLieu], [HinhAnh], [LoaiNLID], [DonViID], [TrangThai]) VALUES (1, N'NLK-BM', N'Bột mì', N'/Resources/Images/download_20260319125854.jpg', 1, 2, 1)
INSERT [dbo].[NguyenLieu] ([NguyenLieuID], [MaNguyenLieu], [TenNguyenLieu], [HinhAnh], [LoaiNLID], [DonViID], [TrangThai]) VALUES (2, N'TPDL-PM', N'Phô mai', N'/Resources/Images/download (1)_20260319130059.jpg', 2, 2, 1)
INSERT [dbo].[NguyenLieu] ([NguyenLieuID], [MaNguyenLieu], [TenNguyenLieu], [HinhAnh], [LoaiNLID], [DonViID], [TrangThai]) VALUES (3, N'NLK-TDH', N'Dứa đống hộp', N'/Resources/Images/download (3)_20260319130645.jpg', 1, 4, 1)
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
GO
INSERT [dbo].[NguyenLieuNhaCungCap] ([NguyenLieuID], [NhaCungCapID], [GiaNhap], [NgayCapNhat]) VALUES (1, 1, CAST(15000.00 AS Decimal(18, 2)), CAST(N'2026-04-08T21:50:40.747' AS DateTime))
INSERT [dbo].[NguyenLieuNhaCungCap] ([NguyenLieuID], [NhaCungCapID], [GiaNhap], [NgayCapNhat]) VALUES (2, 2, CAST(120000.00 AS Decimal(18, 2)), CAST(N'2026-03-19T07:58:45.543' AS DateTime))
INSERT [dbo].[NguyenLieuNhaCungCap] ([NguyenLieuID], [NhaCungCapID], [GiaNhap], [NgayCapNhat]) VALUES (3, 1, CAST(45000.00 AS Decimal(18, 2)), CAST(N'2026-03-19T07:58:45.543' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNCC], [DiaChi], [SDT], [Email], [TrangThai]) VALUES (1, N'Đại Tân Việt (New Viet Dairy)', N'Số 105 Trần Đình Xu, phường Cầu Ông Lãnh, TP.HCM', N'0283821789', N'saleshcm@newviet.vn', 1)
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNCC], [DiaChi], [SDT], [Email], [TrangThai]) VALUES (2, N'Bột Mì Interflour Việt Nam', N'Số 707 Tỉnh lộ 43, phường Tam Bình, TP.HCM', N'0944368230', N'csvietnam@interflour.com', 1)
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNCC], [DiaChi], [SDT], [Email], [TrangThai]) VALUES (3, N'Nông Sản Sạch Đà Lạt Gap', N'Số 99 Trần Quốc Thảo (Số cũ 101), phường Xuân Hòa, TP.HCM', N'0909123456', N'kinhdoanh@dalatgapstore.com', 1)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [NgaySinh], [DiaChi], [SDT], [Email], [ChucVuID], [TrangThai], [HinhAnh]) VALUES (1, N'Trần Mỹ Quyên', CAST(N'2004-04-10' AS Date), N'92 Nguyễn Trãi, 334, An Thạnh, Cần Thơ', N'0944368231', N'1150070037@sv.hcmunre.edu.vn', 3, 1, N'Resources\Images\NhanVien\d4f2aed0-7bcc-4f6b-a8b9-7f253e037733_download (29).jpg')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [NgaySinh], [DiaChi], [SDT], [Email], [ChucVuID], [TrangThai], [HinhAnh]) VALUES (2, N'Nguyễn Duy Trường', CAST(N'2004-04-17' AS Date), N'82 Bà Huyện Thanh Quan, 2222, An Thắng, Đà Nẵng', N'0956702340', N'1150070048@sv.hcmunre.edu.vn', 2, 1, N'Resources\Images\NhanVien\738b733d-c580-4dd8-8654-4030301f29a8_download (30).jpg')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [NgaySinh], [DiaChi], [SDT], [Email], [ChucVuID], [TrangThai], [HinhAnh]) VALUES (3, N'Lê Nguyễn Đăng Khoa', CAST(N'2004-05-12' AS Date), N'130 đường 46, 666, Bạc Liêu, Cà Mau', N'0998778090', N'1150070021@sv.hcmunre.edu.vn', 4, 1, N'Resources\Images\NhanVien\c95ddba4-3124-412f-8018-a1fb41f18f60_Anh-giam-doc-nam-01-min.jpg')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[PhieuBanHang] ([MaPhieuBan], [NhanVienBanID], [NgayBan], [TongTien], [GhiChu], [PhuongThucTT], [GiamGia], [ThanhToan]) VALUES (N'PB000001', 4, CAST(N'2026-03-11T21:22:26.557' AS DateTime), CAST(498000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
INSERT [dbo].[PhieuBanHang] ([MaPhieuBan], [NhanVienBanID], [NgayBan], [TongTien], [GhiChu], [PhuongThucTT], [GiamGia], [ThanhToan]) VALUES (N'PB000002', 4, CAST(N'2026-03-11T21:52:46.947' AS DateTime), CAST(249000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
INSERT [dbo].[PhieuBanHang] ([MaPhieuBan], [NhanVienBanID], [NgayBan], [TongTien], [GhiChu], [PhuongThucTT], [GiamGia], [ThanhToan]) VALUES (N'PB000003', 4, CAST(N'2026-03-12T14:11:55.777' AS DateTime), CAST(269000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([PhieuNhapID], [MaPhieuNhap], [NhanVienNhapID], [NhaCungCapID], [NgayNhap], [TongTien], [TrangThai], [NhanVienDuyetID], [NgayDuyet], [GhiChu]) VALUES (1, N'PN000001', 2, 3, CAST(N'2026-02-04T09:23:26.913' AS DateTime), CAST(65000.00 AS Decimal(18, 2)), 2, NULL, NULL, NULL)
INSERT [dbo].[PhieuNhap] ([PhieuNhapID], [MaPhieuNhap], [NhanVienNhapID], [NhaCungCapID], [NgayNhap], [TongTien], [TrangThai], [NhanVienDuyetID], [NgayDuyet], [GhiChu]) VALUES (2003, N'PN000002', 2, 2, CAST(N'2026-03-19T14:45:36.857' AS DateTime), CAST(360000.00 AS Decimal(18, 2)), 2, 2, CAST(N'2026-03-19T14:46:02.917' AS DateTime), NULL)
INSERT [dbo].[PhieuNhap] ([PhieuNhapID], [MaPhieuNhap], [NhanVienNhapID], [NhaCungCapID], [NgayNhap], [TongTien], [TrangThai], [NhanVienDuyetID], [NgayDuyet], [GhiChu]) VALUES (3003, N'PN000003', 3, 2, CAST(N'2026-04-07T22:07:19.733' AS DateTime), CAST(335000.00 AS Decimal(18, 2)), 2, 2, CAST(N'2026-04-08T13:11:49.427' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuXuat] ON 

INSERT [dbo].[PhieuXuat] ([PhieuXuatID], [MaPhieuXuat], [NhanVienYeuID], [NhanVienDuyetID], [NgayYeuCau], [NgayDuyet], [TrangThai]) VALUES (1001, N'PX000001', 3, 2, CAST(N'2026-03-19T13:37:09.337' AS DateTime), CAST(N'2026-03-19T13:37:43.617' AS DateTime), 2)
INSERT [dbo].[PhieuXuat] ([PhieuXuatID], [MaPhieuXuat], [NhanVienYeuID], [NhanVienDuyetID], [NgayYeuCau], [NgayDuyet], [TrangThai]) VALUES (1003, N'PX000002', 2, 2, CAST(N'2026-03-19T14:48:56.180' AS DateTime), CAST(N'2026-03-19T14:49:05.370' AS DateTime), 2)
INSERT [dbo].[PhieuXuat] ([PhieuXuatID], [MaPhieuXuat], [NhanVienYeuID], [NhanVienDuyetID], [NgayYeuCau], [NgayDuyet], [TrangThai]) VALUES (2002, N'PX000003', 1, 2, CAST(N'2026-04-08T15:37:00.093' AS DateTime), CAST(N'2026-04-08T16:39:52.293' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[PhieuXuat] OFF
GO
INSERT [dbo].[QuyDinh_Bot] ([SizeID], [LoaiCotBanh], [TrongLuongBot], [DonViID]) VALUES (N'L', N'DAY', 300, 1)
INSERT [dbo].[QuyDinh_Bot] ([SizeID], [LoaiCotBanh], [TrongLuongBot], [DonViID]) VALUES (N'L', N'MONG', 220, 1)
INSERT [dbo].[QuyDinh_Bot] ([SizeID], [LoaiCotBanh], [TrongLuongBot], [DonViID]) VALUES (N'R', N'DAY', 200, 1)
GO
INSERT [dbo].[QuyDinh_Vien] ([MaDeBanh], [SizeID], [NguyenLieuID], [SoLuongVien], [DonViID]) VALUES (N'D_MONG', N'R', 13, 40, 2)
INSERT [dbo].[QuyDinh_Vien] ([MaDeBanh], [SizeID], [NguyenLieuID], [SoLuongVien], [DonViID]) VALUES (N'D_VIEN_PM', N'L', 12, 78, 1)
INSERT [dbo].[QuyDinh_Vien] ([MaDeBanh], [SizeID], [NguyenLieuID], [SoLuongVien], [DonViID]) VALUES (N'D_VIEN_PM', N'R', 12, 50, 1)
GO
SET IDENTITY_INSERT [dbo].[QuyDoiDonVi] ON 

INSERT [dbo].[QuyDoiDonVi] ([QuyDoiID], [NguyenLieuID], [DonViID], [HeSo], [LaDonViChuan]) VALUES (1, 1, 3, CAST(25.0000 AS Decimal(18, 4)), 1)
INSERT [dbo].[QuyDoiDonVi] ([QuyDoiID], [NguyenLieuID], [DonViID], [HeSo], [LaDonViChuan]) VALUES (2, 1, 2, CAST(1.0000 AS Decimal(18, 4)), 1)
INSERT [dbo].[QuyDoiDonVi] ([QuyDoiID], [NguyenLieuID], [DonViID], [HeSo], [LaDonViChuan]) VALUES (3, 3, 4, CAST(12.0000 AS Decimal(18, 4)), 0)
SET IDENTITY_INSERT [dbo].[QuyDoiDonVi] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([TaiKhoanID], [NhanVienID], [Username], [Password], [TrangThai]) VALUES (1, 1, N'q', N'1', 1)
INSERT [dbo].[TaiKhoan] ([TaiKhoanID], [NhanVienID], [Username], [Password], [TrangThai]) VALUES (2, 2, N't', N'1', 1)
INSERT [dbo].[TaiKhoan] ([TaiKhoanID], [NhanVienID], [Username], [Password], [TrangThai]) VALUES (3, 3, N'k', N'1', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[TonKho] ON 

INSERT [dbo].[TonKho] ([TonKhoID], [NguyenLieuID], [SoLuongTon], [NgayCapNhat]) VALUES (1, 1, CAST(12.3200 AS Decimal(18, 4)), CAST(N'2026-04-14T20:49:11.913' AS DateTime))
INSERT [dbo].[TonKho] ([TonKhoID], [NguyenLieuID], [SoLuongTon], [NgayCapNhat]) VALUES (2, 2, CAST(5.0900 AS Decimal(18, 4)), CAST(N'2026-04-14T20:49:11.913' AS DateTime))
INSERT [dbo].[TonKho] ([TonKhoID], [NguyenLieuID], [SoLuongTon], [NgayCapNhat]) VALUES (3, 3, CAST(0.9196 AS Decimal(18, 4)), CAST(N'2026-04-14T19:10:36.923' AS DateTime))
SET IDENTITY_INSERT [dbo].[TonKho] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguyenLi__C751935455770A48]    Script Date: 4/17/2026 5:32:18 PM ******/
ALTER TABLE [dbo].[NguyenLieu] ADD UNIQUE NONCLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuNha__1470EF3A07E7D1BB]    Script Date: 4/17/2026 5:32:18 PM ******/
ALTER TABLE [dbo].[PhieuNhap] ADD UNIQUE NONCLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuXua__26C4B5A31AFF9DE7]    Script Date: 4/17/2026 5:32:18 PM ******/
ALTER TABLE [dbo].[PhieuXuat] ADD UNIQUE NONCLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__536C85E4BCF19A96]    Script Date: 4/17/2026 5:32:18 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TaiKhoan__E27FD7EB2D91C9AF]    Script Date: 4/17/2026 5:32:18 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuBanHang] ADD  DEFAULT (N'Tiền mặt') FOR [PhuongThucTT]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT (getdate()) FOR [NgayYeuCau]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[QuyDoiDonVi] ADD  DEFAULT ((0)) FOR [LaDonViChuan]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[CongThuc_Pizza]  WITH CHECK ADD FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
GO
ALTER TABLE [dbo].[CongThuc_Pizza]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[CongThuc_Pizza]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[CongThuc_Pizza]  WITH CHECK ADD  CONSTRAINT [FK_CongThuc_DonVi] FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[CongThuc_Pizza] CHECK CONSTRAINT [FK_CongThuc_DonVi]
GO
ALTER TABLE [dbo].[CT_PhieuBan]  WITH CHECK ADD FOREIGN KEY([MaDeBanh])
REFERENCES [dbo].[DoanhMuc_De] ([MaDeBanh])
GO
ALTER TABLE [dbo].[CT_PhieuBan]  WITH CHECK ADD FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
GO
ALTER TABLE [dbo].[CT_PhieuBan]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[CT_PhieuBan]  WITH CHECK ADD FOREIGN KEY([MaPhieuBan])
REFERENCES [dbo].[PhieuBanHang] ([MaPhieuBan])
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD FOREIGN KEY([PhieuNhapID])
REFERENCES [dbo].[PhieuNhap] ([PhieuNhapID])
GO
ALTER TABLE [dbo].[CT_PhieuXuat]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[CT_PhieuXuat]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[CT_PhieuXuat]  WITH CHECK ADD FOREIGN KEY([PhieuXuatID])
REFERENCES [dbo].[PhieuXuat] ([PhieuXuatID])
GO
ALTER TABLE [dbo].[GiaTheo_De]  WITH CHECK ADD FOREIGN KEY([MaDeBanh])
REFERENCES [dbo].[DoanhMuc_De] ([MaDeBanh])
GO
ALTER TABLE [dbo].[GiaTheo_De]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[GiaTheo_Size]  WITH CHECK ADD FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
GO
ALTER TABLE [dbo].[GiaTheo_Size]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD FOREIGN KEY([LoaiHangHoaID])
REFERENCES [dbo].[LoaiHangHoa] ([LoaiHangHoaID])
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD FOREIGN KEY([LoaiNLID])
REFERENCES [dbo].[LoaiNguyenLieu] ([LoaiNLID])
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_NCC] FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap] CHECK CONSTRAINT [FK_NCC]
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_NL] FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[NguyenLieuNhaCungCap] CHECK CONSTRAINT [FK_NL]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([ChucVuID])
REFERENCES [dbo].[ChucVu] ([ChucVuID])
GO
ALTER TABLE [dbo].[PhieuBanHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuBan_NhanVien] FOREIGN KEY([NhanVienBanID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuBanHang] CHECK CONSTRAINT [FK_PhieuBan_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NhanVienNhapID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVienDuyet] FOREIGN KEY([NhanVienDuyetID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVienDuyet]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([NhanVienYeuID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([NhanVienDuyetID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[QuyDinh_Bot]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[QuyDinh_Bot]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[QuyDinh_Vien]  WITH CHECK ADD FOREIGN KEY([MaDeBanh])
REFERENCES [dbo].[DoanhMuc_De] ([MaDeBanh])
GO
ALTER TABLE [dbo].[QuyDinh_Vien]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[QuyDinh_Vien]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[DoanhMuc_Size] ([SizeID])
GO
ALTER TABLE [dbo].[QuyDoiDonVi]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[DonViTinh] ([DonViID])
GO
ALTER TABLE [dbo].[QuyDoiDonVi]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieu] ([NguyenLieuID])
GO
USE [master]
GO
